[Unit]
Description=Probe for Open Observatory for Network Interference
Documentation=man:ooniprobe(1) https://ooni.torproject.org/

[Service]
User=Debian-ooni
Type=forking
ExecStart=/usr/bin/ooniprobe-agent start
ExecStop=/usr/bin/ooniprobe-agent stop

[Install]
WantedBy=multi-user.target
