[Unit]
Description=Probe for Open Observatory for Network Interference
Documentation=man:ooniprobe(1) https://ooni.torproject.org/

[Service]
User=Debian-ooni
Type=forking
ExecStart=/opt/venvs/ooniprobe/bin/ooniprobe-agent start
ExecStop=/opt/venvs/ooniprobe/bin/ooniprobe-agent stop
PIDFile=/opt/venvs/ooniprobe/var/lib/ooni/twistd.pid

[Install]
WantedBy=multi-user.target
